<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <title>BigSmall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="./assets/bootstrap.min.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
      var app = angular.module('myApp', []);
      app.controller('myController', function($scope) {
        $scope.prefs = [
          { id: "1"},
          { id: "2"},
          { id: "3"},
          { id: "4"},
          { id: "5"},
          { id: "6"},
        ];
      
        $scope.data = {};
        $scope.data.selectedDice1="1";
        $scope.data.selectedDice2="1";
        $scope.data.selectedDice3="1";

	$scope.results = [];
        $scope.playCounter = 0;
        $scope.onclick = function() {
          $scope.results.push($scope.playCounter);
          $scope.playCounter++;
        };
      });
    </script>
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
      </div>
      <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-right">
        </ul>
      </div>
    </div>
    <div class="container" style="margin: 0px 2%; width:95%;" ng-controller="myController as myCtrl">
      <div class="row">
        <div class="col-lg-12">
          <h1>Big Small</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="radio" ng-repeat="item in prefs">
            <label>
              <input type="radio" ng-model="data.selectedDice1"
                   value="{{item.id}}"
                   ng-change="data.changePref($index)"><img ng-src="./assets/dice/dice{{item.id}}.png" \>
            </label>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="radio" ng-repeat="item in prefs">
            <label>
              <input type="radio" ng-model="data.selectedDice2"
                   value="{{item.id}}"
                   ng-change="data.changePref($index)"><img ng-src="./assets/dice/dice{{item.id}}.png" \>
            </label>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="radio" ng-repeat="item in prefs">
            <label>
              <input type="radio" ng-model="data.selectedDice3"
                   value="{{item.id}}"
                   ng-change="data.changePref($index)"><img ng-src="./assets/dice/dice{{item.id}}.png" \>
            </label>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12">
          <button ng-click="onclick()" class="btn btn-primary">Submit</button>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h1>Result</h1>
          <table class="table table-striped table-hover ">
            <thead>
              <tr>
                <th>#</th>
                <th>Column heading</th>
                <th>Column heading</th>
                <th>Column heading</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in results">
                <td>#</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
      <br>
      <footer>
        <div class="row">
          <div class="col-lg-12">
             Powered By びっとぶりっと
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

